main{
    display: grid;
}

@media (min-width: 550px) {
    .grid_2-1{
        display:grid;
        grid-template-columns: 2fr 1fr;}
        
    .grid_1-1{
        display:grid;
        grid-template-columns: 1fr 1fr;}

    .grid_5-3{
            display:grid;
            grid-template-columns: 1fr 1fr;}

    .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;}

    .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;}

    .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}

    .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;}

    .flex_col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .span_2x2 {
        grid-row: 2 span;
        grid-column: 2 span;
    }
    .span_1x2 {
        grid-row: 1 span;
        grid-column: 2 span;
    }
    .span_1x1 {
        grid-row: 1 span;
        grid-column: 1 span;
    }
    .span_1x3 {
        grid-row: 1 span;
        grid-column: 3 span;
    }
    figure{
        margin: 0px;
        padding: 0px;
    }
    }
